# Compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Package distribution / build
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.pydevproject


# Environment variables file (if used)
.env


# Caches and backups
*.swp
*~
._*


.gitignore


.env
.env*

sp500_cache.csv